@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

* {
  font-family: 'Chakra Petch', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #c5d2ec;
}

.normal.lighten {
  background-color: #D4D5BE;
  color: #121212;
}

.normal {
  background-color: #a6a877;
  color: #FFFFFF;
}

.normal.darken {
  background-color: #8E905C;
  color: #FFFFFF;
}

.grass.lighten {
  background-color: #BEE5AC;
  color: #121212;
}

.grass {
  background-color: #77c850;
  color: #FFFFFF;
}

.grass.darken {
  background-color: #5EAE37;
  color: #FFFFFF;
}

.fire.lighten {
  background-color: #F5B78B;
  color: #121212;
}

.fire {
  background-color: #ee7f30;
  color: #FFFFFF;
}

.fire.darken {
  background-color: #D96512;
  color: #FFFFFF;
}

.water.lighten {
  background-color: #a5bdf5;
  color: #121212;
}

.water {
  background-color: #678fee;
  color: #121212;
}

.water.darken {
  background-color: #396DE9;
  color: #FFFFFF;
}

.electric.lighten {
  background-color: #fbe58f;
  color: #121212;
}

.electric {
  background-color: #f7cf2e;
  color: #FFFFFF;
}

.electric.darken {
  background-color: #e9bc09;
  color: #FFFFFF;
}

.ice.lighten {
  background-color: #d5eeef;
  color: #121212;
}

.ice {
  background-color: #98d5d7;
  color: #121212;
}

.ice.darken {
  background-color: #73c6c9;
  color: #FFFFFF;
}

.ground.lighten {
  background-color: #eeddae;
  color: #121212;
}

.ground {
  background-color: #dfbf69;
  color: #121212;
}

.ground.darken {
  background-color: #d6ad3f;
  color: #FFFFFF;
}

.flying.lighten {
  background-color: #dcd2f9;
  color: #121212;
}

.flying {
  background-color: #a98ff0;
  color: #121212;
}

.flying.darken {
  background-color: #8662ea;
  color: #FFFFFF;
}

.poison.lighten {
  background-color: #bc57bc;
  color: #FFFFFF;
}

.poison {
  background-color: #a040a0;
  color: #FFFFFF;
}

.poison.darken {
  background-color: #642864;
  color: #FFFFFF;
}

.fighting.lighten {
  background-color: #d74b44;
  color: #FFFFFF;
}

.fighting {
  background-color: #bf3029;
  color: #FFFFFF;
}

.fighting.darken {
  background-color: #6d1b17;
  color: #FFFFFF;
}

.psychic.lighten {
  background-color: #fbb6cb;
  color: #121212;
}

.psychic {
  background-color: #f65687;
  color: #FFFFFF;
}

.psychic.darken {
  background-color: #f32665;
  color: #FFFFFF;
}

.dark.lighten {
  background-color: #9e7a63;
  color: #FFFFFF;
}

.dark {
  background-color: #725847;
  color: #FFFFFF;
}

.dark.darken {
  background-color: #2e231d;
  color: #FFFFFF;
}

.rock.lighten {
  background-color: #d0bc61;
  color: #121212;
}

.rock {
  background-color: #b8a137;
  color: #FFFFFF;
}

.rock.darken {
  background-color: #7c6c25;
  color: #FFFFFF;
}

.bug.lighten {
  background-color: #cadb2f;
  color: #121212;
}

.bug {
  background-color: #a8b720;
  color: #FFFFFF;
}

.bug.darken {
  background-color: #768117;
  color: #FFFFFF;
}

.ghost.lighten {
  background-color: #8874ad;
  color: #FFFFFF;
}

.ghost {
  background-color: #6e5896;
  color: #FFFFFF;
}

.ghost.darken {
  background-color: #4c3d68;
  color: #FFFFFF;
}

.steel.lighten {
  background-color: #d6d5e3;
  color: #121212;
}

.steel {
  background-color: #b9b7cf;
  color: #121212;
}

.steel.darken {
  background-color: #9b98bb;
  color: #121212;
}

.dragon.lighten {
  background-color: #966ef8;
  color: #121212;
}

.dragon {
  background-color: #6f38f6;
  color: #FFFFFF;
}

.dragon.darken {
  background-color: #4209cd;
  color: #FFFFFF;
}

.fairy.lighten {
  background-color: #fddee9;
  color: #121212;
}

.fairy {
  background-color: #f9aec7;
  color: #121212;
}

.fairy.darken {
  background-color: #f57fa6;
  color: #FFFFFF;
}
